{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
## Brew
brew "bat"
brew "chezmoi"
brew "cloudflared"
brew "curl"
brew "defaultbrowser"
brew "direnv"
brew "docker-credential-helper"
brew "fd"
brew "fish"
brew "fzf"
brew "gh"
brew "git"
brew "go"
brew "golangci-lint"
brew "grep"
brew "iperf3"
brew "jenv"
brew "lazygit"
brew "mackup"
brew "maven"
brew "mpdecimal"
brew "mysql-client"
brew "navi"
brew "neovim"
brew "node@18"
brew "nushell"
brew "ocr"
brew "openjdk"
brew "pandoc"
brew "qemu"
brew "ripgrep"
brew "rust"
brew "rye"
brew "starship"
brew "tldr"
brew "tmux"
brew "tomcat@8"
brew "wget"
## Cask
cask "eudic"
cask "firefox"
cask "flux"
cask "font-jetbrains-mono-nerd-font"
cask "font-sauce-code-pro-nerd-font"
cask "font-space-mono-nerd-font"
cask "google-chrome"
cask "iina"
cask "iterm2"
cask "jetbrains-toolbox"
cask "keycastr"
cask "lens"
cask "logseq"
cask "motrix"
cask "netnewswire"
cask "notion"
cask "obsidian"
cask "onedrive"
cask "orbstack"
cask "orion"
cask "postman"
cask "raycast"
cask "stats"
cask "visual-studio-code"

EOF
{{ end -}}
